{% extends 'layout/default.twig' %}
{% block content %}
<div class="center-block col-md-14">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="col-md-6">Title</th>
				{% for a in manifest.attributes %}
				<th class="col-md-1">{{ a|title }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for i in manifest.items %}
			<tr>
				<td><a href="{{ url('preview', {'id': i.title|hash }) }}">{{ i.title }}</a></td>
				{% for a in manifest.attributes %}
				<td>{{ i.getAttribute(a)|title|default('-') }}</td>
				{% endfor %}
	  		</tr>
	  		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}